.env

# Frontend
frontend/node_modules
frontend/.svelte-kit
frontend/build
frontend/.env
frontend/.env.*
!frontend/.env.example

# Backend
backend/tmp
backend/.env
backend/.env.*
!backend/.env.example

# OS
.DS_Store
*.pem

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log